- name: copy file
  ansible.builtin.copy:
    src: mongo.repo
    dest: /etc/yum.repos.d/mongo.repo

- name: install mongod
  ansible.builtin.yum:
    name: mongodb-org-shell
    state: installed

- name: load schema
  ansible.builtin.shell: mongo --ssl --host {{ lookup('amazon.aws.aws_ssm', 'docudb.dev.endpoint', region='us-east-1' ) }}:27017 --sslCAFile global-bundle.pem --username docudbadmin --password roboshop123 </app/schema/{{ component }}.js


